@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  color: #000000;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

.btn {
  border-radius: 2rem;
  border: 0px;
  padding: 18px 22px;
  font-weight: 500;
  background: linear-gradient(350deg, #9356dc 0%, #ff79da 100%);
  color: white;
  box-shadow: 0px 3px 6px 1px #c6c6c6;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  opacity: 0.85;
  box-shadow: 0px 3px 8px 1px #939393;
}

.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  position: relative;
}
.heart i {
  transition: 0.2s;
}
.heart .heart--fill {
  z-index: 1;
  opacity: 0;
  position: absolute;
  right: 0;
  background: -webkit-linear-gradient(1deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}
.heart .heart--fill::after {
  content: "";
  position: absolute;
  z-index: 1;
  height: 2rem;
  width: 2rem;
  left: 0;
  right: 0;
  background-color: white;
  transition: 1s;
}
.heart .heart--nofill {
  position: absolute;
  right: 0;
  z-index: 2;
  opacity: 1;
}
.heart .heart--nofill:hover {
  transition: 1s;
  opacity: 1;
}
.heart .heart--nofill:hover + .heart--fill {
  opacity: 1;
}
.heart .heart--nofill:hover + .heart--fill::after {
  animation: heartfill 1s ease-in-out forwards;
}

.heartmenu .heart--fill::after {
  background-color: #f6f6f6;
}

@keyframes heartfill {
  0% {
    top: 0;
  }
  100% {
    top: -2rem;
    border-top-right-radius: 50%;
  }
}
.loader__container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.959);
  height: 100vh;
  flex-direction: column;
  animation: display 3.3s linear forwards;
  z-index: 9999;
  overflow-x: hidden;
}

.loader-anim span {
  font-family: "Shrikhand", cursive;
  font-size: 3rem;
  display: inline-block;
  animation: loader 1.8s linear infinite;
  transform-origin: 0 80%;
  opacity: 0;
}

@keyframes loader {
  0% {
    color: #99e2d0;
    opacity: 1;
  }
  33% {
    transform: rotateX(360deg);
    color: #ff79da;
  }
  66% {
    color: #9356dc;
  }
  100% {
    transform: rotatex(360deg);
    color: black;
    opacity: 1;
  }
}
@keyframes display {
  80% {
    opacity: 1;
  }
  100% {
    z-index: -10;
    visibility: hidden;
    opacity: 0;
  }
}
.loader__container span:nth-child(1) {
  animation-delay: 0.2s;
}

.loader__container span:nth-child(2) {
  animation-delay: 0.4s;
}

.loader__container span:nth-child(3) {
  animation-delay: 0.6s;
}

.loader__container span:nth-child(4) {
  animation-delay: 0.8s;
}

.loader__container span:nth-child(5) {
  animation-delay: 1s;
}

.loader__container span:nth-child(6) {
  animation-delay: 1.2s;
}

.loader__container span:nth-child(7) {
  animation-delay: 1.4s;
}

.loader__container span:nth-child(8) {
  animation-delay: 1.6s;
}

.header {
  padding: 10px 0 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  position: relative;
}

.header--arrow {
  font-size: 1.3rem;
  color: black;
  position: absolute;
  left: 30px;
  top: 18px;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 10px 20px 20px 20px;
}
@media (min-width: 992px) {
  .footer {
    padding: 10px 20px 10px 20px;
  }
  .footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
.footer li {
  font-size: 0.9rem;
  margin: 8px 0;
}
.footer li a:hover {
  text-decoration: underline;
}
.footer li i {
  margin-right: 5px;
}
.footer li:first-child {
  font-family: "Shrikhand", cursive;
  margin: 15px 0;
  font-size: 1.1rem;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.picture-menu img {
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
  z-index: -99;
  position: relative;
}

.menu {
  background: #f6f6f6;
  border: 1px solid transparent;
  border-radius: 50px 50px 0 0;
  z-index: 8;
  padding: 0 20px;
  margin-top: -50px;
}
.menu__title {
  padding: 30px 16px 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 200;
  font-size: 1.8rem;
}

@media (min-width: 992px) {
  .menu__grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}

.menu__container {
  flex: 1 1 33%;
  min-width: 0;
}
.menu__container h3 {
  font-size: 1rem;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
}
.menu__container h3::after {
  position: absolute;
  content: "";
  bottom: -8px;
  left: 0;
  height: 3px;
  background-color: #99e2d0;
  width: 40px;
}

.menu__card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  margin: 20px 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  animation: menu-card 1s ease forwards;
  opacity: 0;
  position: relative;
}
.menu__card__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__card__content__label {
  display: flex;
  flex-direction: column;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__card__content__label b,
.menu__card__content__label span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__card__content__price {
  display: flex;
  align-items: flex-end;
  margin-left: 30px;
}
.menu__card:hover .menu__card__confirm {
  margin-right: -1rem;
}
.menu__card:hover .menu__card__confirm i {
  transform: rotate(720deg);
  transition: 0.4s;
}
.menu__card__confirm {
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  margin: -1rem -5rem -1rem 1rem;
  font-size: 1.4rem;
  color: white;
  transition: 0.4s;
}

.order {
  padding: 35px 0 85px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
}
.order .btn {
  padding: 15px 50px;
}

@keyframes menu-card {
  0% {
    transform: translatey(30px);
  }
  100% {
    opacity: 1;
    transform: translatey(0px);
  }
}
.delay-1 {
  animation-delay: 0.15s;
}

.delay-2 {
  animation-delay: 0.3s;
}

.delay-3 {
  animation-delay: 0.45s;
}

.delay-4 {
  animation-delay: 0.6s;
}

.delay-5 {
  animation-delay: 0.75s;
}

.delay-6 {
  animation-delay: 0.9s;
}

.delay-7 {
  animation-delay: 1.05s;
}

.delay-8 {
  animation-delay: 1.2s;
}

.delay-9 {
  animation-delay: 1.35s;
}

.delay-10 {
  animation-delay: 1.5s;
}

.location {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  box-shadow: inset 0px 12px 2px -10px #cfcfcf;
}
.location p {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.74);
  position: relative;
}
.location p::after {
  content: "\f3c5";
  position: absolute;
  left: -1.5rem;
  color: rgba(0, 0, 0, 0.74);
  font-family: "Font Awesome 5 Free";
}

.explore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 50px 20px;
}
.explore__title {
  text-align: center;
  margin: 0 50px;
  font-size: 1.5rem;
}
.explore__subtitle {
  text-align: center;
  margin: 15px 0 25px 0;
  font-size: 1.2rem;
  font-weight: 300;
}

.tutorial {
  padding: 50px 20px;
  counter-reset: TotalStep;
}
.tutorial__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 30px;
}
@media (min-width: 992px) {
  .tutorial__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
  }
}
.tutorial__title {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.tutorial__step {
  background-color: #f6f6f6;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  padding: 30px 35px;
  border-radius: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 992px) {
  .tutorial__step {
    margin: 0;
  }
}
.tutorial__step i {
  color: grey;
  margin-right: 25px;
  font-size: 1.1rem;
}
.tutorial__step:hover {
  background-color: #f5edff;
}
.tutorial__step:hover > i {
  color: #9356dc;
}
.tutorial__step::before {
  counter-increment: TotalStep 1;
  content: counter(TotalStep) " ";
  position: absolute;
  left: 0;
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  font-weight: 400;
  font-size: 0.9rem;
}

.restaurant {
  padding: 50px 20px;
  background-color: #f6f6f6;
}
.restaurant__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}
@media (min-width: 992px) {
  .restaurant__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
  }
}
.restaurant h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.card {
  background-color: white;
  height: 15.625rem;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  transition: 0.3s;
}
.card__img {
  position: relative;
  height: 70%;
}
.card__img img {
  position: absolute;
  inset: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  z-index: 2;
}
.card__content {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}
.card__title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card__title span {
  font-weight: 300;
}
.card__title h3 {
  font-size: 1.1rem;
}

.new::after {
  position: absolute;
  content: "Nouveau";
  top: 15px;
  right: 15px;
  background-color: #99e2d0;
  padding: 5px 10px;
  color: #278870;
  font-weight: 500;
  font-size: 0.9rem;
  z-index: 3;
}

/*# sourceMappingURL=style.css.map */
