/* .container {
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  & span {
    height: 300px;
    width: 100px;
    background-color: blue;
    margin: 20px;
    animation: loader 1s infinite alternate;
  }
}

@keyframes loader {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1.2) translateX(50px);
    opacity: 1;
  }
}

$base-color: #036;
*/
// @for $i from 1 through 9 {
//  .container span:nth-child(#{$i}) {
//    background-color: lighten($base-color, $i * 5%);
//    animation-delay: #{$i / 10}s;
//  }
//}
