@use "../abstracts/" as *;

.heart {
  @include flex-center;
  font-size: 1.7rem;
  position: relative;

  i {
    transition: 0.2s;
  }
  .heart--fill {
    z-index: 1;
    opacity: 0;
    position: absolute;
    right: 0;
    background: -webkit-linear-gradient(1deg, #9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
  }
  .heart--fill::after {
    content: "";
    position: absolute;
    z-index: 1;
    height: 2rem;
    width: 2rem;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    transition: 1s;
  }
  .heart--nofill {
    position: absolute;
    right: 0;
    z-index: 2;
    opacity: 1;
    &:hover {
      transition: 1s;
      opacity: 1;
    }
    &:hover + .heart--fill {
      opacity: 1;
    }
    &:hover + .heart--fill::after {
      animation: heartfill 1s ease-in-out forwards;
    }
  }
}
.heartproduct {
  .heart--fill::after {
    background-color: $background-section;
  }
}

@keyframes heartfill {
  0% {
    top: 0;
  }
  100% {
    top: -2rem;
    border-top-right-radius: 50%;
  }
}
