@use "../abstracts/" as *;

.loader__container {
  position: fixed;
  @include flex-center;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.959);
  height: 100vh;
  flex-direction: column;
  animation: display 3.3s linear forwards;
  z-index: 9999;
  overflow-x: hidden;
}

.loader-anim {
  & span {
    font-family: $font-family-logo;
    font-size: 3rem;
    display: inline-block;
    animation: loader 1.8s linear infinite;
    transform-origin: 0 80%;

    opacity: 0;
  }
}

@keyframes loader {
  0% {
    color: $tertiary-color;
    opacity: 1;
  }
  33% {
    transform: rotateX(360deg);
    color: $secondary-color;
  }
  66% {
    color: $primary-color;
  }
  100% {
    transform: rotatex(360deg);
    color: black;
    opacity: 1;
  }
}

@keyframes display {
  80% {
    opacity: 1;
  }

  100% {
    z-index: -10;
    visibility: hidden;
    opacity: 0;
  }
}

@for $i from 1 to 9 {
  .loader__container span:nth-child(#{$i}) {
    animation-delay: #{$i * 0.2s};
  }
}
