@use "variables" as *;
@use "functions" as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin breakpoint {
  @media (min-width: 992px) {
    @content;
  }
}
